
.btn {
  /** Sizes */
  $sizes: (
    'large': (
      'font-size': 20px,
      'padding': 12px 16px,
      'height': 54px
    ),
    'small': (
      'font-size': 14px,
      'padding': 10px 12px,
      'height': 41px
    ),
    'tiny': (
      'font-size': 12px,
      'padding': 8px 10px,
      'height': 34px
    )
  );

  /** Faces with states */
  $faces: (
    'standard': (
      'primary': (
        'normal': ( 'background': $col-primary-normal ),
        'hover': ( 'background': $col-primary-dark ),
        'disabled': ( 'background': $col-primary-light )
      ),
      'secondary': (
        'normal': ( 'background': $col-secondary-normal ),
        'hover': ( 'background': $col-secondary-dark ),
        'disabled': ( 'background': $col-secondary-light )
      ),
      'success': (
        'normal': ( 'background': $col-success-normal ),
        'hover': ( 'background': $col-success-dark ),
        'disabled': ( 'background': $col-success-light )
      ),
      'warning': (
        'normal': ( 'background': $col-warning-normal ),
        'hover': ( 'background': $col-warning-dark ),
        'disabled': ( 'background': $col-warning-light )
      ),
      'error': (
        'normal': ( 'background': $col-error-normal ),
        'hover': ( 'background': $col-error-dark ),
        'disabled': ( 'background': $col-error-light )
      )
    ),
    'hollow': (
      'primary': (
        'normal': ( 'color': $col-primary-normal, 'background': $col-white ),
        'hover': ( 'color': $col-primary-dark, 'background': $col-white  ),
        'disabled': ( 'color': $col-primary-light, 'background': $col-white  )
      ),
      'secondary': (
        'normal': ( 'color': $col-secondary-normal, 'background': $col-white  ),
        'hover': ( 'color': $col-secondary-dark, 'background': $col-white  ),
        'disabled': ( 'color': $col-secondary-light, 'background': $col-white  )
      ),
      'success': (
        'normal': ( 'color': $col-success-normal, 'background': $col-white  ),
        'hover': ( 'color': $col-success-dark, 'background': $col-white  ),
        'disabled': ( 'color': $col-success-light, 'background': $col-white  )
      ),
      'warning': (
        'normal': ( 'color': $col-warning-normal, 'background': $col-white  ),
        'hover': ( 'color': $col-warning-dark, 'background': $col-white  ),
        'disabled': ( 'color': $col-warning-light, 'background': $col-white  )
      ),
      'error': (
        'normal': ( 'color': $col-error-normal, 'background': $col-white  ),
        'hover': ( 'color': $col-error-dark, 'background': $col-white  ),
        'disabled': ( 'color': $col-error-light, 'background': $col-white  )
      )
    )
  );

  /** sass map object to css properties */
  @mixin to-prop($data) {
    @each $prop, $value in $data {
      #{$prop}: $value;
    }    
    border-color: currentColor;
  }

  /** Iterates data for each $faces */
  @mixin face-data($data) {
    @each $type, $states in $data {
      @each $state, $props in $states {
        &.btn-#{$type} {
          @if $state == 'normal' {
            @include to-prop($props);
          } @else if $state == 'hover' {
            &:hover {
              @include to-prop($props);
            }
          } @else if $state == 'disabled' {
            &:disabled {
              @include to-prop($props);
            }
          }    
        }
      }
    }
  }

  /** .btn */
  position: relative;
  display: inline-block;
  padding: 10px 14px;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none !important;
  font-family: Avenir;
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border-radius: 0;

  /** Basic properties, changed by face/state */
  background: $col-white;
  color: $col-white;
  border: 1px solid currentColor;

  /** Sizes */
  @each $size-name, $size-data in $sizes {
    &.btn-size-#{$size-name} {
      @each $rule, $value in $size-data {
        #{$rule}: $value;
      }
    }
  }

  /** Faces */
  @each $face-name, $face-data in $faces {
    @if $face-name == 'standard' {
      @include face-data($face-data);
    } @else {
      &.btn-#{$face-name} {
        @include face-data($face-data);
      }
    }
  }
  
  &:hover,
  &:focus {
    color: $col-white;
    outline: none;
  }

  /** Fill parent container */
  &.btn-expanded {
    display: block;
    width: 100%;
  }

  /** Icon addon to the left */
  > .fa {
    margin-right: 8px;
  }


}
