$col-white: #fff;
$col-black: #000;

$col-primary-light: #70b8fa;
$col-primary-normal: #4a9cd4;
$col-primary-dark: #2b84ae;

$col-secondary-light: #6B6B6B;
$col-secondary-normal: #444444;
$col-secondary-dark: #1e1e1e;

$col-grey-light: #e7e7e7;
$col-grey-normal: #ccc;
$col-grey-dark: #aaa;

$col-success-light: #C1D922;
$col-success-normal: #a9b20a;
$col-success-dark: #8c8800;

$col-warning-light: #ffd83a;
$col-warning-normal: #f28520;
$col-warning-dark: #cc8306;

$col-error-light: #f35757;
$col-error-normal: #cb3535;
$col-error-dark: #a61a26;
