$col-white: #fff;
$col-black: #000;

$col-primary-1: #70b8fa;
$col-primary-2: #4a9cd4;
$col-primary-3: #2b84ae;

$col-secondary-1: #6B6B6B;
$col-secondary-2: #444444;
$col-secondary-3: #1e1e1e;

$col-grey-1: #e7e7e7;
$col-grey-2: #ccc;
$col-grey-3: #aaa;

$col-success-1: #C1D922;
$col-success-2: #aab20a;
$col-success-3: #8c8800;

$col-warning-1: #ffd83a;
$col-warning-2: #f28520;
$col-warning-3: #cc8306;

$col-error-1: #f35757;
$col-error-2: #cb3535;
$col-error-3: #a61a26;