@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Roboto+Regular');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Regular', sans-serif;

  main {
    max-width: 890px;
    margin: 0 auto;
  }
}
