@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Roboto+Regular|Avenir');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  main {
    max-width: 890px;
    margin: 0 auto;
  }
}

h1 {
  color: #444444;
  font-family: Avenir;
  font-size: 48px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  text-align: left;
  line-height: 72px;
}

h2 {
  color: #444444;
  font-family: Avenir;
  font-size: 40px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  text-align: left;
  line-height: 60px;
}

h3 {
  color: #444444;
  font-family: Avenir;
  font-size: 32.0px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  text-align: left;
  line-height: 48px;
}
