@import '../../styles/constants.scss';

.navbar {
  height: 50px;

  font-size: 16px;

  box-shadow: 0px 2px 10px 0px rgba($col-grey-normal, .75);  

  .nav {
    li > a {
      color: $col-white;
      background: $col-success-normal;

      &:hover,
      &.active {
        color: $col-white;
        background: $col-success-dark;
      }
    }
  }
}