.requests-filter {
  height: 46px;
  margin-bottom: 20px;
  border-bottom: 2px solid #e7e7e7; }
  .requests-filter .nav > li:last-child {
    float: right; }
  .requests-filter .btn {
    font-family: Avenir;
    text-transform: none;
    letter-spacing: 1px; }
